{% extends 'base/pichon-base.html'%}

{% block title %}{{title}}{% endblock %}

{% block content %}
<section id="inicio">
    <h1>PICHONES CORP</h1>
    <button>CONECTA CON TU TRABAJO</button>
</section>
<section id="nosotros">
    <h3>SOBRE NOSOTROS</h3>
    <p>Somos un equipo que construye redes de trabajo, aportando a proyectos que se enfocan en valorar el tiempo, 
        <br/> el conocimiento y las habilidades de los profesionistas y especialistas en los diversos ámbitos laborales. 
        <br/> También nos enfocamos en usar tecnologías que marcan las tendencias de seguridad, transparencia y sobre todo el trabajo productivo.</p>
</section>
<section id="trabajamos">
    <h3>COMO TRABAJAMOS</h3>
    <article>
        <h5>ESTRATEGIA</h5>
        <a href=""><small><strong>Leer mas</strong></small></a>
    </article>
    <article>
        <h5>MARCA</h5>
        <a href=""><small><strong>Leer mas</strong></small></a>
    </article>
    <article>
        <h5>PROYECTOS</h5>
        <a href=""><small><strong>Leer mas</strong></small></a>
    </article>
</section>
<section id="contribuye">
    <article>
        <h5>CODE</h5>
        <a href="https://about.gitlab.com/" target="_blank"><small><strong>Leer mas</strong></small></a>
    </article>
    <article>
        <h5>CONTRIBUYE CON ALGUNAS ACTIVIDADES</h5>
        <a href=""><small><strong>Leer mas</strong></small></a>
    </article>
    <article>
        <h5>ADMINISTRATIVO</h5>
        <a href=""><small><strong>Leer mas</strong></small></a>
    </article>
    <article>
        <h5>CONSUULTORIA</h5>
        <a href=""><small><strong>Leer mas</strong></small></a>
    </article>
<section id="foro">
    <h1>FORO</h1>
    <button>COMUNIDAD</button>
</section>
<section id="contactanos">
    <h1>CONTACTANOS</h1>
</section>
<section>
    <h1>FAQ</h1>
</section>
<section id="staff">
    <h1>STAFF</h1>
</section>

    {% from "macro.html" import show_list_h,render_field %}
    {{show_list_h(title)}}
    <div class="container">
        <div class="=row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                <br>
                <br>

                <form name="sentMessage" id="contactForm" method="POST" >
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            {{render_field (form.username, class='form-control')}}
            
                            <p class="help-block text-danger"></p>
                        </div>
                            
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            {{render_field (form.email, class='form-control')}}
                            <p class="help-block text-danger"></p>
                        </div>
                            
                    </div>
                    
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">                        
                        {{render_field (form.comment, class='form-control')}}   
                        <p class="help-block text-danger"></p>
                    </div>
                        
                </div>
                    
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-default">Send</button>
                        </div>
                    </div>
                </form>
                

            </div>

        </div>

    </div>
    
{% endblock %}